.orange{
    background: linear-gradient(270deg, #FF572F 0%, #FFA63D 97.59%);
}

.white{
    background: #FBFCFE;
}

.heading-color{
    background: #FD9535;
}

.dark{
    background: #232323;
}

.black{
    color: #282938;
    opacity: 0.7;
}

.card-gradient{
    background: linear-gradient(336.01deg, #FF572F 6.4%, #FFCD47 93.48%);
}

.step-gradient{
    background: linear-gradient(270deg, #FF572F 0%, #FFA63D 97.59%);
}

.form-gradient{
    background: linear-gradient(270deg, #FF572F 0%, #FFA63D 97.59%);

}

.light{
    color: #FFFFFF;
}

.dark{
    background: #161616;
}

.success{
    background: #235EAB;
}

.orange{
    background-color: #C82127;
}

.gray{
    background-color: #6E737B;
}

.button-radius{
    border-radius: 40px;
}