@use 'custom' as *;
@use 'utils/mixins' as m;

header{

    border-top: 6px solid $primary;

    .logo{

        @include media-breakpoint-down(sm){
            padding: 0;
        }

        .logo-icon{
            max-width: 5rem;

        }

        .title{
            .logo-title, .slogan{
                @include media-breakpoint-down(sm){
                    width: 6rem;
                }
            }
        }
    }
    .navigation-bar{
        @include media-breakpoint-down(md){
            width: 100%;
        }
    }

    .btn-move{
        
        @include media-breakpoint-up(md){
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 2rem;
            padding-right: 1.75rem;
            @include m.buttonGradient();
            padding: 0.4rem 0.75rem;
        }

    }

}